.container {
    width: 100vw;
    padding: 0 1rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.innerHeader {
    flex: 140px !important;
}
.header {
    flex: 340px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainInner {
    align-items: flex-start !important;
    justify-content: flex-start !important;;
}
.main {
    flex: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding-left: 1rem;
}

.backToHome {
    margin: 3rem 0 0;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 0.65rem;
    color: rgba(0,0,0,0.35);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer span {
    padding: 0 0.25rem;
}


