.container {
    width: 100vw;
    padding: 0 1rem;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.header {
    flex: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    flex: 80%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding-left: 1rem;
}

.backToHome {
    margin: 3rem 0 0;
}

.footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 0.65rem;
    color: rgba(0,0,0,0.35);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer span {
    padding: 0 0.25rem;
}