.articleContainer {
  height: 100vh;
  margin-right: -1rem;
  padding: 2rem 4rem 2rem 1rem;
  overflow: auto;

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  code {
    background-color: #282c34;
    color: #abb2bf;
    padding: 0.2rem;
    border-radius: 0.4rem;
  }

  pre code {
    border-radius: 0rem;
    margin: 0.5rem 0 1rem 0;
  }
}

.articleLight {
  .article {
    background: rgba(255, 255, 255, 0.85) !important;

    h1,
    h2,
    p,
    i,
    .first-letter,
    .authorName a {
      color: rgba(0, 0, 0, 0.84);
      text-rendering: optimizeLegibility;
    }

    a {
      color: var(--complimentary1) !important;
    }

    mark, .highlighted {
      background: #7DFFB3;
    }

    .subtitle {
      color: rgba(0, 0, 0, 0.54);
    }

    blockquote {
      color: rgba(0, 0, 0, 0.68);
    }

    ::selection {
      background-color: hsl(var(--hue-complimentary2), 95%, 50%)
    }
  }
}

.articleDark {
  .article {
    background: rgba(0, 0, 0, 0.85) !important;

    h1,
    h2,
    p,
    i,
    a,
    .first-letter,
    .authorName a {
      text-rendering: optimizeLegibility;
    }

    h1,
    h2,
    a,
    .first-letter, {
      color: rgba(255, 255, 255, 0.87);
    }

    p,
    i,
    ul, li,
    .authorName a {
      color: rgba(255, 255, 255, 0.60);
    }

    mark, .highlighted {
      background: #7DFFB3;
    }

    .subtitle {
      color: rgba(255, 255, 255, 0.54);
    }

    blockquote {
      color: rgba(255, 255, 255, 0.68);
    }

    ::selection {
      background-color: hsl(var(--hue-complimentary2), 95%, 50%)
    }
  }
}


.article {
  padding: 2rem;
  margin: 2rem 0 4rem 0;
  border-radius: 0.5rem;

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.6rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-family: "Lato", sans-serif;
    font-size: 1.625rem;
    font-weight: 700;
    padding: 0;
    margin: 3.5rem 0 0.1rem -0.1125rem;
    text-align: left;
    line-height: 2.1rem;
    letter-spacing: -0.45px;
  }

  p, i, a {
    margin-top: 1.3125rem;
    font-family: "Lora", serif;
    font-size: 1.3125rem;
    letter-spacing: -0.03px;
    line-height: 1.78rem;
  }

  a {
    text-decoration: underline;
  }

  blockquote {
    font-family: "Playfair Display", serif;
    font-size: 1.875rem;
    font-style: italic;
    letter-spacing: -0.36px;
    line-height: 2.775rem;
    overflow-wrap: break-word;
    margin: 3.4375rem 0 2.115rem 0;
    /* text-align: center; */
    padding: 0 0 0 3.125rem;
  }

  .first-letter {
    overflow-wrap: break-word;
    font-family: "Playfair Display", serif;
    font-size: 60px;
    line-height: 60px;
    display: block;
    position: relative;
    float: left;
    margin: 0px 7px 0 -5px;
  }

  .subtitle {
    font-family: "Lato", sans-serif;

    margin: 0 0 1.5rem 0;
  }

  ::selection {
    background-color: hsl(var(--hue-complimentary2), 95%, 50%)
  }
}