@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora|Playfair+Display:700i,900');

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --bg-gradient-light: linear-gradient(
          to bottom,
          hsl(var(--hue), 95%, 99%),
          hsl(var(--hue), 95%, 84%)
  );

  --bg-gradient-dark: linear-gradient(
                  to bottom,
                  hsl(var(--hue), 25%, 0%),
                  hsl(var(--hue), 25%, 10%)
  );
}

body {
  color: var(--dark-color) !important;
  &.chakra-ui-dark {
    color: var(--light-color) !important;
    .animatedBackground {
      background: var(--bg-gradient-dark);
      animation: smooth 6s ease-in;
    }
  }

  &.chakra-ui-light {
    color: var(--dark-color) !important;
    .animatedBackground {
      background: var(--bg-gradient-light);
      animation: smooth 6s ease-in;
    }
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animatedBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -10;
}

@-webkit-keyframes smooth {
  0% { opacity: 0;}
  80% { opacity: 0;}
  100% { opacity: 1;}
}

.orbCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  animation: smooth 10s ease-in;
}

.randomColorButton {
  position: absolute;
  top: 0px;
  right: 7px;
  cursor: pointer;
}