.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.activitiesContainer {
    display: flex;
    flex: 80%;
    align-content: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    border-left: 2px dotted rgba(0, 0, 0, 0.2);
    border-right: 2px dotted rgba(0, 0, 0, 0.2);
}
.activitiesContainer > div {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 25vh;
}
.activitiesMain a {
    display: flex !important;
    align-items: center !important;
}

.homeSplit {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .homeSplit {
        flex-direction: column !important;
    }
}

.borderCircle {
    border-radius: 9999px;
}

.borderCircleMain {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
}

.listItem {
}

.lightText {
    color: #666;
}

.postsContainerLight {
    background: rgba(255, 255, 255, 0.3);
}
.postsContainerDark {
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.6);
}
.postsContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}
.postsContainer > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 25vh;
    padding: 0 1rem;
}

.urlShortenerContainer {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.urlShortenerInput {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 4rem;
    backdrop-filter: blur(2cm);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    align-items: center;
    padding-right: 1rem;
}

.urlShortenerInput input {
    background-color: transparent;
    outline: none;
    border: 0 solid #ccc;
    display: flex;
    flex: 1;
    padding: 1rem 2rem;
}
